@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes wave-colors {
  0% { color: #24fcc6; } /* Cian */
  33% { color: #4658f5; } /* Indigo */
  66% { color: #9d3aff; } /* Violeta */
  100% { color: #24e2ff; } /* Vuelve al Cian */
}

.animate-wave {
  animation: wave-colors 6s infinite linear;
}

@keyframes button-wave {
  0% { background-color: #22d3ee; } /* Cian */
  30% { background-color: #04c935; } /* Violeta */
  70% { background-color: #818cf8; } /* Indigo */
  100% { background-color: #22d3ee; } /* Cian */
}

.hover-wave:hover {
  animation: button-wave 6s infinite linear;
  color: white; 
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}